---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Add Review">
  <main>
    <h1>Home</h1>
    <p>Home page</p>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
