---
import Layout from "../layouts/Layout.astro";
import BookList from "../components/BookList.astro";
import AddBook from "../components/AddBook.astro";
import Stack from "../layouts/EveryLayout/Stack.astro";
---

<Layout title="Books">
  <main>
    <Stack>
      <h1 class="text-4xl font-bold pb-6">Uncovered</h1>
      <AddBook />

      <BookList />
    </Stack>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack > * {
    margin-block: 0;
  }

  .stack > * + * {
    margin-block-start: var(--space, 1.5rem);
  }
</style>
