---
import Layout from "../layouts/Layout.astro";
import BookList from "../components/BookList.astro";
import AddBook from "../components/AddBook.astro";
import { postPage } from "../utils/asyncPOSTers";
postPage("be4a562f25864a6c99b89b9baab56055");
---

<Layout title="Books">
  <main>
    <AddBook />
    <BookList />
  </main>
</Layout>
<style>
  main {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 60ch;
  }
</style>
