---
import getDBInfo from "../utils/getAsyncDBInfo";
import Layout from "../layouts/Layout.astro";
const { results } = await getDBInfo("be4a562f25864a6c99b89b9baab56055");
---

<Layout title="Notion Dabble.">
  <main>
    <h1>Notion Dabble.</h1>
    <p>Testing out the Notion API.</p>
    <ul>
      {
        results.map((result) => (
          <li>
            <button class="text-4xl">
              <a href={result.url}>{result.title}</a>
            </button>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
