<nav class="px-4 w-full">
  <ul class="flex justify-between items-end">
    <li>
      <a href="/" class="text-4xl font-bold">Uncovered</a>
    </li>
    <div class="grow flex flex-wrap justify-end">
      <li class="text-lg ml-4">
        <a href="/">Find</a>
      </li>
      <li class="text-lg ml-4">
        <a href="/">Add</a>
      </li>
    </div>
  </ul>
</nav>
