<nav class="px-4">
  <ul class="flex justify-between items-end">
    <li>
      <a href="/" class="text-4xl font-bold">Uncovered</a>
    </li>
    <div class="flex flex-wrap justify-end">
      <li class="ml-2">
        <a href="/">Uncovered</a>
      </li>
      <li class="ml-2">
        <a href="/">Uncovered</a>
      </li>
    </div>
  </ul>
</nav>
